#game-container {
  border: 5px solid #f4f420; /* Yellow border color */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: #1099bb; /* Background color of the game container */
}
